{% extends "structure_analyser/base.html" %}

{% block title %}
Structure Analysis
{% endblock title %}

{% block content %}
<div class="section1">
    <br>
    <form method="POST" id="upload-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="save-btn" type="submit" class="save btn btn-default">Save</button>
    </form>
    <br>
    <div id="loader" class="loader not-visible"></div>
    <br>
</div>
{% endblock content %}