{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- wavesurfer -->
        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>        
        
        <!-- jquery -->
        {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        

        <!-- custom css & js-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block script %}{% endblock script %}

        <title>{% block title %}{% endblock title %} - Hocus</title>
    </head>
    <body>
        <header class="header">
            <a href="/" class="logo links">HoCUS</a>
            <div class="header-right">
                <div class="search-container">
                    <form action="{% url 'search_results' %}"  method="get">
                        <input name="q" class="srch" type="text" placeholder="Search for music" name="search">
                        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a href="{% url 'structure_analysis' %}" class="links">STRUCTURE ANALYSIS</a>
                <a href="{% url 'uploads_library' %}" class="links">LIBRARY</a>
                <a href="" class="links">ABOUT</a>
            </div>
        </header>
        <div class="container-fluid mt-3">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="footer">
            <div class="foot">
                <h4>Follow Us</h4>
                <a href="https://www.facebook.com/samuel.ojogbede" class="fa fa-facebook fa1"></a>
                <a href="https://twitter.com/samloco_" class="fa fa-twitter fa1"></a>
                <a href="mailto:sojogbede1@gmail.com" class="fa fa-google fa1"></a>
                <a href="https://www.linkedin.com/in/samuel-ojogbede-11101/" class="fa fa-linkedin fa1"></a>
            </div>
        </footer>
    </body>
</html>