{% extends "structure_analyser/base.html" %}
{% load static %}

{% block script %}
        <style type="text/css">
            .tftable {font-size:12px;color:#333333;width:70%;border-width: 1px;border-color: #a9a9a9;border-collapse: collapse;margin-left:auto;margin-right:auto;}
            .tftable th {font-size:18px;background-color:#b8b8b8;border-width: 1px;padding: 8px;border-style: solid;border-color: #a9a9a9;text-align:left;}
            .tftable tr {background-color:#ffffff;}
            .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #a9a9a9;}
            .tftable tr:hover {background-color:#ffe6c9;cursor: pointer;}
        </style>
        <script src="{% static 'js/library.js' %}" defer></script>
{% endblock script %}

{% block title %}
        Music Library
{% endblock title %}

{% block content %}
<div class="section1">
    <div class="table">
        <table class="tftable" border="1">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Algorithms</th>
                <th>Rating</th>
                <th>Upload Date</th>
            </tr>
            {% for upload in uploads %}
                <tr class="clickable-row" data-href="{% url 'music_structure' pk=upload.pk %}">
                    <td>{{ upload.title }}</td>
                    <td>{{ upload.genre }}</td>
                    <td>{{ upload.segmentation_method }} + {{ upload.labelling_method }} + {{ upload.audio_features }}</td>
                    <td>{{ upload.rating }}/5</td>
                    <td>{{ upload.upload_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock content %}
 