{% extends "structure_analyser/base.html" %}
{% load static %}

{% block script %}
        <script>var audio_url = "{{ music.audio_file.url }}";</script>
        <script>var bounds = {{ bounds|safe }};</script>
        <script>var labels = {{ labels|safe }};</script>
        <script src="{% static 'js/main.js' %}" defer></script>
{% endblock script %}

{% block title %}
        Music Structure
{% endblock title %}

{% block content %}
<div class="section1">
    <div class="musicListener">
        <div class="listenerContent">
            <img class="thumb" src="{% static 'images/thumb2.jpg' %}" width="340" height="340">
            <span class="play-btn">
                <i class="fa fa-play-circle"></i>
                <i class="fa fa-pause-circle"></i>
            </span>
            <div>
                <div class="track-name"><span style = "background: black; padding: 4px 7px;">{{ music.title }}</span></div>
                <div class="track-genre"><span style = "background: black; padding: 3px 6px;">{{ music.genre }}</span></div>
            </div>
            <div class="audio"></div>
        </div>
    </div>
    <div class="structure-content">
        <div id="region-controls" class="controls"></div>
        <br>
        <br>
        <form class="rate-form" action="" method="POST" id="{{music.id}}">
            {% csrf_token %}
            <button type="submit" class="fa fa-star fa-2x my-btn" id="first"></button>
            <button type="submit" class="fa fa-star fa-2x my-btn" id="second"></button>
            <button type="submit" class="fa fa-star fa-2x my-btn" id="third"></button>
            <button type="submit" class="fa fa-star fa-2x my-btn" id="fourth"></button>
            <button type="submit" class="fa fa-star fa-2x my-btn" id="fifth"></button>
        </form>
        <br>
        <div id="confirm-box"></div>
    </div>
</div>
{% endblock content %}