::-webkit-input-placeholder { /* Edge */
    color: #ff8f5c;
  }
:-ms-input-placeholder { /* Internet Explorer */
    color: #ff8f5c;
} 
::placeholder {
    color: #ff8f5c;
}

.not-visible {
    display: none;
}

body {
    font-family: verdana;
}

/* Style header */
.header {
    overflow: hidden;
    background-color: #ec4b00;
    padding: 13px 10px;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: transparent;
    margin-top: 0;
}

/* Style content divider */
.content {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

/* Style alt header */
.header-scroll {
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

/* Style the header links */
.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 20px;
}

.links {
    color: white;
}
.links:hover {
    color: white;
}

/* Style alt links */
.links-scroll {
    color: black;
}
.links-scroll:hover {
    color: black;
}

/* Style logo link */
.header a.logo {
    font-size: 26px;
}

/* Float the links section to the right */
.header-right{
    float: right;
    margin-right: 20px;
}

/* Underline links on mouse-over */
.header .header-right a:hover {
    text-decoration: underline;
}

/* Style search box */
.header .header-right .search-container {
    float: left;
}
.header .header-right .search-container input[type=text] {
    padding: 6px 15px;
    margin-top: 8px;
    font-size: 15px;
    border: none;
}
.srch {
    background: #f1611f;
    color: white;
}

/* Style alt search box */
.srch-scroll {
    background: #e6e6e6;
    color: black;
}

/* Style search botton */
.header .header-right .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: -2px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.btn {
    color: white;
    background: #f1611f;
}
.btn:hover {
    color: white;
}

/* Style alt search botton */
.btn-scroll {
    color: #ec4b00;
    background: #e6e6e6;
}
.btn-scroll:hover {
    color: #ec4b00;
}

/* Style section1 */
.section1 {
    padding-top: 75px;
    background-color: #ec4b00;
    text-align: center;
}
.text-container {
    padding-bottom: 50px;
}
.title {
    margin-top: 130px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
}
.subtitle {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: .36px;
    color: white;
    margin-bottom: 34px;
}
.subtitle2 {
    font-size: 14px;
    color: white;
    margin-bottom: 9px;
}

/* Style hocus button */
.button2 {
    background-color: white; /* Green */
    border: none;
    color: #ec4b00;
    padding: 14px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

/* Style section2 */
.section2 {
    text-align: center;
    background-color: white;
}
.text-container2 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.title2 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: .5px;
    text-align: center;
    color: black;
}

/* Style footer */
.footer {
    background-color: black;
    text-align: center;
    width: 100%;
    box-shadow: 0 50vh 0 50vh #000;
}
.foot {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

/* Style footer links */
.fa1:link, .fa1:active, .fa1:visited, .fa1:hover {
    font-size: 30px;
    width: 47px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}