.not-visible {
    display: none;
}

body {
    font-family: verdana;
}

/* Style header */
.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 13px 10px;
    height: 75px;
    position: fixed;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: transparent;
    margin-top: 0;
}

/* Style container divider */
.container-fluid {
    background-color: #f7f7f7;
}

.section1 {
    padding-top: 75px;
    padding-bottom: 23px;
}

/* Style the header links */
.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 20px;
}

.links, .links:hover {
    color: black;
}

/* Style logo link */
.header a.logo {
    font-size: 26px;
}

/* Float the links section to the right */
.header-right{
    float: right;
    margin-right: 20px;
}

/* Underline links on mouse-over */
.header .header-right a:hover {
    text-decoration: underline;
}

/* Style search box */
.header .header-right .search-container {
    float: left;
}
.header .header-right .search-container input[type=text] {
    padding: 6px 15px;
    margin-top: 8px;
    font-size: 15px;
    border: none;
}
.srch {
    background: #e6e6e6;
    color: black;
}

/* Style search botton */
.header .header-right .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: -2px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.header .header-right .search-container .btn, .header .header-right .search-container .btn:hover {
    color: #ec4b00;
    background: #e6e6e6;
}

/* Style loader */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Style footer */
.footer {
    background-color: black;
    text-align: center;
    width: 100%;
    box-shadow: 0 50vh 0 50vh #000;
}
.foot {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

/* Style footer links */
.fa1:link, .fa1:active, .fa1:visited, .fa1:hover {
    font-size: 30px;
    width: 47px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}

.musicListener {
    height: 380px;
    background: #575757;
}
.listenerContent {
    padding: 20px;
    height: 100%;
}

.thumb {
    float: right;
    align-content: center;
}

.play-btn {
    color: #ff6600;
    font-size: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.play-btn:hover {
    cursor: pointer;
}
.play-btn .fa-pause-circle {
    display: none;
  } 
.play-btn.playing .fa-pause-circle {
    display: inline-block;
} 
.play-btn.play-btn.playing .fa-play-circle {
    display: none;
}

.track-name {
    color: white;
    font-size: 22px;
    margin-bottom: 8px;
}
.track-genre {
    color: white;
    font-size: 14px;
}

.audio {
    margin-top: 30px;
    margin-right: 12px;
    width: 820px;
    height: 127px;
    float: left;
    cursor: pointer;
}

.structure-content {
    background: white;
    height: 100;
}

.star-rating{
    background: pink;
    height: 200px;
}

.checked {
    color: orange;
}
.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
/* @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
} */